<!--
  Bibliotecas carregadas via CDN, por página, conforme front matter.
  Uso no front matter de um capítulo:
    libs: [leaflet, cytoscape, wavesurfer, timeline]
-->
{% if page.libs contains "leaflet" %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
{% endif %}

{% if page.libs contains "cytoscape" %}
  <script src="https://unpkg.com/cytoscape@3.30.0/dist/cytoscape.min.js"></script>
{% endif %}

{% if page.libs contains "wavesurfer" %}
  <script src="https://unpkg.com/wavesurfer.js@7/dist/wavesurfer.min.js"></script>
{% endif %}

{% if page.libs contains "timeline" %}
  <link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
  <script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
{% endif %}

{% if page.libs contains "photoswipe" %}
  <link rel="stylesheet" href="https://unpkg.com/photoswipe@5/dist/photoswipe.css" />
  <script type="module" src="https://unpkg.com/photoswipe@5/dist/photoswipe-lightbox.esm.min.js"></script>
{% endif %}
